.DS_Store
.nextflow/*
work/*
db/*
bin/.groovy_vars/*
bin/__pycache__/*
output*/*
.nextflow*
._*
mainQuadram.nf
extra
nohup*
*.simg
SR*.fastq.gz
conf/datasets/mattia.config
datasets/*
local
*.simg
local_tests/
test.nf
./*.zip
db_path.csv
