/*
 * Default config options for all environments.
 */

manifest {
  name = 'MetaPhage'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '1.0.0'
}

profiles {
  test { includeConfig './conf/test.config' }
  base { includeConfig './conf/base.config' }
  test_vcontact2 { includeConfig './conf/test_vcontact2.config' }
  test_highcov { includeConfig './conf/test_highcov.config' }
  test_highercov { includeConfig './conf/test_highercov.config' }
}

conda.createTimeout = '1 h'
conda.cacheDir = "./condaenvs"

