/*
 * Default config options for all environments.
 */

manifest {
  name = 'MetaPhage'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '1.0.0'
}

profiles {
  // datasets
  base { includeConfig './conf/datasets/base.config' }
  test { includeConfig './conf/datasets/test.config' }
  test_vcontact2 { includeConfig './conf/datasets/test_vcontact2.config' }
  test_highcov { includeConfig './conf/datasets/test_highcov.config' }
  test_highercov { includeConfig './conf/datasets/test_highercov.config' }
  // load
  full { includeConfig './conf/load/full.config' }
  mac { includeConfig './conf/load/mac.config' }
  quadramvm { includeConfig './conf/load/quadramvm.config' }
}

conda.createTimeout = '1 h'
conda.cacheDir = "./condaenvs"

