/* Default config options for all environments. */

manifest {
  name = 'MetaPhage'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '1.0.0'
}


profiles {
  example { includeConfig './conf/datasets/example.config' }
  slurm { includeConfig './conf/slurm.config' }

}

//process {
//  executor='slurm'
//  queue='g100_usr_prod'
//  withLabel:big_res {
//        cpus = 32
//        memory = 64.GB
//        time = 24.h
//    }
//  withLabel: med_res {
//        cpus = 16
//        memory = 32.GB
//        time = 24.h
//    }    
//  withLabel: low_res {
//        cpus = 8
//        memory = 16.GB
//        time = 24.h
//    }
//}

params {
  max_cpus = 16
  max_memory = 64.GB
  max_time = 48.h

  // CONFIG VARIABLES

  // General options
  readPath = false
  metaPath = false
  dbPath = "$projectDir/db"
  virome_dataset = false
  singleEnd = false
  outdir = "MetaPhage_Output"
  temp_dir = "/tmp"

  // Trimming
  skip_qtrimming = false
  adapter_forward = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
  adapter_reverse = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
  mean_quality = 15
  trimming_quality = 15
  keep_phix = false
  mod_phix = "phiX174"
  file_phix_alone = false

  // microbial taxonomy
  skip_bacterial_taxo = false
  skip_kraken2 = false
  mod_kraken2 = "miniBAV"
  file_kraken2_db = false
  skip_krona = false

  // Assembly
  skip_megahit = false
  skip_metaquast = false

  // Phage-mining
  skip_mining = false
  skip_vibrant = false
  mod_vibrant = "legacy"
  file_vibrant_db = false
  skip_phigaro = false
  mod_phigaro = "standard"
  file_phigaro_config = false
  skip_virsorter = false
  mod_virsorter = "legacy"
  file_virsorter_db = false
  skip_virfinder = false

  // Dereplication
  skip_dereplication = false
  minlen = 3000

  // Viral Taxonomy (vContact2)
  skip_viral_taxo = false
  skip_vcontact2 = false
  mod_vcontact2 = "Jan2022" //Set the vcontact2 database directory name
  vcontact2_file_head = "17Jan2022_vConTACT2_" //set the header of files of the vcontact2 database you are using (if using inphared)
  file_vcontact2_db = false
  skip_graphanalyzer = false

  // Plots & Report
  metadata = false
  sum_viol_var = false
  heatmap_var = false
  alpha_var1 = false
  alpha_var2 = false
  beta_var = false
  violin_var = false
  skip_miner_comparison = false
  skip_summary = false
  skip_taxonomy_table = false
  skip_heatmap = false
  skip_alpha_diversity = false
  skip_beta_diversity = false
  skip_violin_plots = false
  skip_report = false
}

