params {
  config_profile_name = 'Test profile with higher cov'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // resources
  max_cpus = 4
  max_memory = 8.GB
  max_time = 10.h
  // output dirs
  params.outdir = "./output_test_highercov"
  params.temp_dir = "./tmp_test_highercov"
  // inputs
  singleEnd = false
  readPaths = './datasets/sint_highercov'
}

process {
  cpus   = 4
  memory = 8.GB
  time   = 10.h
}