params {
  config_profile_name = 'vcontact2 test profile'
  config_profile_description = 'Only one small sint sample to test vcontact2'
  // resources
  max_cpus = 8
  max_memory = 55.GB
  max_time = 20.h
  // output dirs
  params.outdir = "./output_test_vcontact2"
  params.temp_dir = "./tmp_test_vcontact2"
  // inputs
  singleEnd = false
  readPaths = './datasets/sint_vcontact2'
}

process {
  cpus   = 8
  memory = 55.GB
  time   = 20.h
}