params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // resources
  max_cpus = 4
  max_memory = 8.GB
  max_time = 10.h
  // output dirs
  params.outdir = "./output_test"
  params.temp_dir = "./tmp_test"
  // inputs
  singleEnd = false
  readPaths = './datasets/sint'
}

process {
  cpus   = 4
  memory = 8.GB
  time   = 10.h
}