singularity.enabled = true //set true if using singularity

process {
  executor = 'slurm'
  container = '$projectDir/containers/metaphage.simg' //set if using a singularity container
  
  withLabel:big_res {
        cpus = 32
        memory = 64.GB
        time = 24.h
        queue = "" //set the name of the slurm queue
    }
  withLabel: med_res {
        cpus = 16
        memory = 32.GB
        time = 24.h
        queue = "" //set the name of the slurm queue
    }
  withLabel: low_res {
        cpus = 8
        memory = 16.GB
        time = 24.h
        queue = "" //set the name of the slurm queue
    }
  withLabel: vcontact2 {
        cpus = 24
        memory = 32.GB
        time = 24.h
    }
  withLabel: graphanalyzer {
        cpus = 2
        memory = 48.GB
        time = 24.h
    }
}
